body{
    font-family: 'Lexend Mega', sans-serif;
    margin: 0;
    background-color: #D3F3EE;
    color: #4A6FA5;
}

header h2{
    display: inline;
}
h2{
    margin: 1em;
    font-size: 2em;
}

.about h2{
    margin-left: 15px;

}

.card{
    margin: 10px;
}

header{
    background-color: #264653;
    color: #DBE9EE;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.header-icons{
    width: 100%;
    display: flex;
    justify-content: right;
}

.icons img{
    margin: 0 1.5em
    
}

.icons{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}

.grow{
   transition: all .2s ease-in-out; 
}

.grow:hover{
    transform: scale(1.1);
}

footer{
    background-color: #264653;
    color: #DBE9EE;
    padding: 2em;
}

footer a {
    color: #DBE9EE;
}

.icons img{
    max-width: 100px;
    width: 100px;
}

#profile{
    display: flex;
    justify-content: space-evenly;
    
}

#photo{
    margin: 30px;
}

#description{
    justify-self: flex-end;
}

ul{
    list-style-type: none;
    margin-top: 100px;
}

ul li{
    font-size: 1.5em;
    margin: 20px;

}

#description ul li{

    transform-origin: 50% 100%;
    animation-duration: 1s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71, .55, .62, 1.57);
}

@keyframes fadeAndScale{
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1,1);
    }
}

#photo img{
    max-width: 300px;
    border-radius: 50%;
}

.languages{
    justify-content: center;
}

.languages ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
}

.languages ul li{
    list-style: none;
    
    padding: 0;
}

ul li img{
    max-width: 75px;
    
}

.container{
    max-width: 60%;
    margin: 0 auto;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

.form-inputs{
    display: flex;
    flex-wrap: wrap;
    
}

textarea{
    width: 80%;
}


.single-inputs{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: .5em;
    width: 100%;
}

.text-areas{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

button{
    width: 80%;
    font-size: 1.5em;
}

